<ly-grid container spacing="16 8@XSmall">
  <ly-grid item col="4 12@XSmall"></ly-grid>
  <ly-grid item col="4 12@XSmall">
    <pick-up-button routerLink="/picking-up"></pick-up-button>
  </ly-grid>
  <ly-grid item col="12"></ly-grid>
  <ly-grid item col="4 12@XSmall"></ly-grid>  
  <ly-grid item col="4 12@XSmall">
    <stay-home-button></stay-home-button>
  </ly-grid>
  <ly-grid item col="12"></ly-grid>
  <ly-grid item col="4 12@XSmall"></ly-grid>
  <ly-grid item col="4 12@XSmall">
    <dine-in-button></dine-in-button>
  </ly-grid>
</ly-grid>